{
    "plugins": [
      ["module-resolver", {
        "alias": {
          "assets": "./src/assets",
          "components": "./src/components",
          "container": "./src/container",
          "navigation": "./src/navigation",
          "screens": "./src/screens",
          "theme": "./src/theme",
          "locale": "./src/locale",
          "store": "./src/store",
          "utils": "./src/utils",
        }
      }]
    ]
  }
  